*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

ol,ul,li{
    list-style: none;
}

a,a:hover{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}